[Unit]
Description=Xorg compositor
Documentation=man:picom(1)
Requires=wm.target

[Service]
ExecStart=/usr/bin/compton

[Install]
WantedBy=wm.target

