[Unit]
Description=XDG autostart
Requires=wm.target

[Service]
ExecStart=/usr/bin/dex -as %E/autostart
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=wm.target
