[Unit]
Description=Redshift display colour temperature adjustment cri
Documentation=http://jonls.dk/redshift/
Requires=wm.target

[Service]
ExecStart=/usr/bin/redshift
Restart=always

[Install]
WantedBy=wm.target
