[Unit]
Description=Automatic screen locker
Requires=wm.target

[Service]
ExecStart=/usr/bin/xidlehook --not-when-audio --timer 600 /home/jamie/.local/lib/dwm/lock.sh ''
Restart=always

[Install]
WantedBy=wm.target
