[Unit]
Description=Automatic screen locker
Requires=wm.target

[Service]
ExecStart=/usr/bin/xidlehook --not-when-audio --timer 300 %h/.local/bin/lock.sh ''
Restart=always

[Install]
WantedBy=wm.target
