[Unit]
Description=Automatic screen locker
After=pulseaudio
Requires=wm.target

[Service]
ExecStart=%h/.local/bin/screensaver.sh
Restart=always

[Install]
WantedBy=wm.target
