[Unit]
Description="Display info on dwm bar"
Requires=wm.target

[Service]
ExecStart=/home/jamie/.local/lib/dwm/xsetroot.sh

[Install]
WantedBy=wm.target
